<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <%- include("header") %>
    <h1>About This App</h1>
    <p>This Health & Fitness app lets you track workouts, register users, and view logs.</p>
  </body>
</html>