<!doctype html>
<html>
  <head>
    <title><%= shopData.shopName %></title>    
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <%- include("header") %>
    <h1>Add Workout</h1>
    <% if (message) { %>
      <p style="color: red;"><%= message %></p>
    <% } %>
    <form method="POST" action="<%= basePath %>/workout/add">
      <p>Workout Type: <input type="text" name="workout_type" required /></p>
      <p>Duration (minutes): <input type="number" name="duration" required /></p>
      <p>Calories burned: <input type="number" name="calories" required /></p>
      <p>Date: <input type="date" name="workout_date" required /></p>
      <input type="submit" value="Add Workout" />
    </form>
  </body>
</html>