<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/workouts">Workout</a></li>
      <li><a href="/workout/add">Add Workout</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/users/list">Users</a></li>
      <li class="dropdown">
        <a href="#">Account ▼</a>
        <ul class="dropdown-menu">
          <% if (typeof userId !== 'undefined' && userId) { %>
            <li><a href="/users/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
          <% } %>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<hr>